@model List<GeoAddress.Models.vw_Farmer_Service_Requests>

@if (Model != null)
{
    <div class="col-md-12">
        <p>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Service</th>
                        <th>Issue</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        if (item != null)
                        {
                                <tr>
                                    <th scope="row">@item.ServiceRunID</th>
                                    <td>@item.ServiceDescription</td>
                                    <td>@item.Description</td>
                                </tr>
                            }
                        }
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5">
                            Page Information Here<<Page 1>>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </p>
    </div>
}
else
{
    <div class="col-md-12">
        <p>
            <h4>No Current Services for Display</h4>
        </p>
    </div>
}

