@model GeoAddress.Models.TopSummaryViewModel
@{
    
}

<div class="col-md-3" style="background-color:lightgreen">
    <p style="text-align:center">
        @Model.Farmers<br/>
        Farmers
    </p>
</div>
<div class="col-md-3" style="background-color:moccasin">
    <p style="text-align:center">
        @Model.Schools<br />
        Schools
    </p>
</div>
<div class="col-md-3" style="background-color:lightblue">
    <p style="text-align:center">
        @Model.Hospitals <br />
        Health Centers
    </p>
</div>
<div class="col-md-3" style="background-color:lightgoldenrodyellow">
    <p style="text-align:center">
        @Model.Households <br />
        Households
    </p>
</div>
