<div>
    <button id="find-me">Show my location</button><br />
    <input id="btnRoad" type="button" value="RoadMap">
    <input id="btnSat" type="button" value="Satellite">
    <input id="btnHyb" type="button" value="Hybrid">
    <input id="btnTer" type="button" value="Terrain">
    <a id="addStandardMarker" href="#">Add Standard Marker</a>
    <a id="addIconMarker" href="#">Add Icon Marker</a>
    <div id="map_canvas" style="width: 100%; height: 550px">
    </div>
</div>
